#myVideo {
    position: fixed;
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  #Name{
       text-align: center;
       font-family: "Brush Script MT", Times, serif;
       
       font-size: 80px;
      color: antiquewhite;

  }
  #card{
    color: black;
  }
  .sport{
    color: white;
    font-family: "Brush Script MT", Times, sans-serif;
    font-size: 60px;
   
      text-decoration: underline;
  
  }
  .suv{
    color: white;
    font-family: "Brush Script MT", Times, sans-serif;
    font-size: 60px;
      text-decoration: underline;
  
  }

  